<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="weather, weather forecast, sign in">
    <meta name="description" content="Sign In">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:replace="~{fragments/common-links}">
    <title>Sign In</title>
</head>
<body>
<header th:insert="~{fragments/header :: headerFragment(page='sign-in')}"></header>
<main>
    <ul th:replace="~{fragments/error/multi-error-block}"></ul>
    <p th:replace="~{fragments/error/single-error-block}"></p>
    <h1 class="auth-header">Sign In</h1>
    <form class="auth-form" th:action="@{/sign-in}" method="post" th:object="${user}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:value="${user?.username()}" autocomplete="off" required>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" th:value="${user?.password()}" autocomplete="off" required>

        <button class="standard-button big-button" type="submit">Sign In</button>
    </form>
</main>
</body>
</html>