<div class="detailed-weather-info">
    <dl class="temp-info big-description-list">
        <dt>min:</dt>
        <dd th:with="temp=${temperatureInfo.min()}">
            <span th:text="${temp > 0 ? '+' + temp : temp}"></span>
            <sup class="celsius-small">°C</sup>
        </dd>

        <dt>max:</dt>
        <dd th:with="temp=${temperatureInfo.max()}">
            <span th:text="${temp > 0 ? '+' + temp : temp}"></span>
            <sup class="celsius-small">°C</sup>
        </dd>

        <dt>feels like:</dt>
        <dd th:with="temp=${temperatureInfo.feelsLike()}">
            <span th:text="${temp > 0 ? '+' + temp : temp}"></span>
            <sup class="celsius-small">°C</sup>
        </dd>
    </dl>

    <dl th:class="'wind-info beaufort-points-' + ${windInfo.beaufortPoints()} + ' big-description-list'"
        th:with="windInfo=${weatherInfo.windDto()}">

        <dt>speed:</dt>
        <dd th:text="${windInfo.speed()} > 0.0 ? ${windInfo.speed() + ' m/s'} : '-'"></dd>

        <dt>gust:</dt>
        <dd th:text="${windInfo.gust()} > 0.0 ? ${windInfo.gust() + ' m/s'} : '-'"></dd>

        <dt>direction:</dt>
        <dd>
            <img class="wind-direction" width="12" height="12"
                 th:src="@{'/web/icons/weather/wind/directions/direction_' + ${windInfo.direction().toString().toLowerCase()} + '.svg'}"
                 th:alt="${windInfo.direction().toString()}">
        </dd>
    </dl>

    <dl class="humidity-info small-description-list">
        <dt>humidity:</dt>
        <dd th:text="${weatherInfo.humidity()} + '%'"></dd>
    </dl>

    <dl class="visibility-info small-description-list">
        <dt>visibility:</dt>
        <dd th:with="visibilityKm=${weatherInfo.visibility() / 1000.0}"
            th:text="${#numbers.formatDecimal(visibilityKm, 1, 1)} + ' km'">
        </dd>
    </dl>

    <dl class="sunrise-info small-description-list">
        <dt>sunrise:</dt>
        <dd th:text="${weatherInfo.sunrise()}"></dd>
    </dl>

    <dl class="sunset-info small-description-list">
        <dt>sunset:</dt>
        <dd th:text="${weatherInfo.sunset()}"></dd>
    </dl>
</div>