body {
    margin: 0;
    min-width: 620px;
    font-family: "Inter", "sans-serif";
    font-size: 16px;
}

input {
    padding-left: 22px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background: #EFEFEF;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0 0/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 8px) calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 8px) no-repeat,
    linear-gradient(90deg, #fa6c21 0%, #FFD358 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
}

input::-webkit-search-cancel-button {
    height: 32px;
    width: 32px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/weather-forecast/web/icons/cancel.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

input::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.page-header-container {
    display: flex;
    align-items: center;
    height: 76px;
    background-image: url("/weather-forecast/web/icons/logo.svg"),
    linear-gradient(
            90deg,
            rgba(27, 156, 226, 1) 0%,
            rgba(113, 202, 250, 1) 100%
    );
    background-position: 30px center, 0 0;
    background-size: 76px 76px, auto;
    background-repeat: no-repeat;
}

.navbar {
    margin-left: 140px;
    width: 100%;
}

.navbar-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item a {
    font-weight: bold;
    color: #000000;
}

.navbar-item:first-child {
    margin-right: auto;
}

.navbar-item:last-child {
    margin-right: 30px;
}

.navbar-item:not(:first-child, :last-child) {
    margin-left: 12px;
    margin-right: 12px;
}

.standard-link {
    color: #000000;
}

.current-page,
.standard-link:hover {
    position: relative;
    font-weight: bold;
    background: #fa6c21;
    background: linear-gradient(to right, #fa6c21 0%, #ffd358 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.current-page::after,
.standard-link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: linear-gradient(to right, #fa6c21 0%, #ffd358 100%);
}

.username {
    margin: 0;
    margin-right: 42px;
    font-weight: bold;
    background: #d0f1ff;
    background: linear-gradient(to right, #d0f1ff 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.standard-button {
    width: 135px;
    height: 50px;
    font-family: "Inter", "sans-serif";
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    background: #ffffff;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(167, 221, 255, 1) 100%
    );
    border: 0;
    border-radius: 10px;
}

.big-button {
    width: 146px;
    height: 78px;
}

.standard-button:hover {
    background: #ffde81;
    background: linear-gradient(
            180deg,
            rgba(255, 222, 129, 1) 0%,
            rgba(255, 156, 103, 1) 100%
    );
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

a.standard-button {
    display: inline-block;
    line-height: 50px;
    font-weight: 900;
    text-decoration: none;
}

.search-location-form {
    margin-left: auto;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 108px;
    width: 580px;
    height: 50px;
}

.auth-header {
    margin-top: 50px;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

.auth-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #1C9CE2;
    background: linear-gradient(
            -180deg,
            rgba(28, 156, 226, 1) 0%,
            rgba(113, 202, 250, 1) 100%
    );
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    4px 0 4px 0 rgba(0, 0, 0, 0.25),
    0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    -4px 0 4px 0 rgba(0, 0, 0, 0.25);
}

.auth-form label {
    display: block;
    margin-left: 40px;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: bold;
}

.auth-form input {
    display: block;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.location-name-input {
    width: 100%;
    height: 100%;
}

.sign-up-offer {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.auth-form .standard-button {
    display: block;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
}

.error-block {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    list-style: none;
    background-color: #ff9c9c;
    border-radius: 5px;
}

.error-block li {
    padding-bottom: 15px;
}

.error-block li:last-child {
    padding-bottom: 0;
}

.weather-card {
    width: 366px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    4px 0 4px 0 rgba(0, 0, 0, 0.25),
    0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    -4px 0 4px 0 rgba(0, 0, 0, 0.25);
}

.location-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ffffff;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(238, 238, 238, 1) 100%
    );
}

.country-flag {
    order: -1;
    margin-left: 10px;
}

.location-name {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    font-weight: 900;
    font-size: 18px;
    word-wrap: break-word;
}

.add-location-button,
.remove-location-button {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 0;
    background: transparent;
    background-size: 32px;
}

.add-location-button {
    background-image: url("/weather-forecast/web/icons/add.svg");
}

.remove-location-button {
    background-image: url("/weather-forecast/web/icons/remove.svg");
}

.add-location-button:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(84%) sepia(38%) saturate(4385%) hue-rotate(105deg) brightness(96%) contrast(89%);
}

.remove-location-button:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(30%) sepia(95%) saturate(7008%) hue-rotate(321deg) brightness(91%) contrast(103%);
}

.location-coordinates {
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

}

.latitude {
    margin-right: 70px;
}

.main-weather-info {
    position: relative;
    height: 172px;
    background-position: 35% 10%;
    background-repeat: no-repeat;
}

.current-temp {
    position: absolute;
    left: 55%;
    top: 35%;
    margin: 0;
    font-size: 48px;
}

.celsius {
    font-size: 16px;
    vertical-align: top;
    margin-left: -12px;
}

.weather-description {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    max-width: 90%;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[class$="-night"] {
    color: #ffffff;
}

.temp-info {
    margin: 0;
}

/* --- Main weather info icons and background styles --- */

/* Clear Sky */

.clear-sky-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clear_sky_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(226, 246, 255, 1) 100%
    );
}

div.clear-sky-day ~ .detailed-weather-info {
    background-color: #e2f5fc;
}

.clear-sky-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clear_sky_night.svg"),
    linear-gradient(
            180deg,
            rgba(56, 33, 168, 1) 0%,
            rgba(127, 80, 196, 1) 100%
    );
}

div.clear-sky-night ~ .detailed-weather-info {
    background-color: #7f50c4;
}

/* Snow */

.light-snow-day,
.snow-day,
.heavy-snow-day,
.sleet-day,
.light-shower-sleet-day,
.shower-sleet-day,
.light-rain-and-snow-day,
.rain-and-snow-day,
.light-shower-snow-day,
.shower-snow-day,
.heavy-shower-snow-day {
    background-image: url("/weather-forecast/web/icons/weather/snow.svg"),
    linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(199, 232, 253, 1) 100%
    );
}

div.light-snow-day ~ .detailed-weather-info,
div.snow-day ~ .detailed-weather-info,
div.heavy-snow-day ~ .detailed-weather-info,
div.sleet-day ~ .detailed-weather-info,
div.light-shower-sleet-day ~ .detailed-weather-info,
div.shower-sleet-day ~ .detailed-weather-info,
div.light-rain-and-snow-day ~ .detailed-weather-info,
div.rain-and-snow-day ~ .detailed-weather-info,
div.light-shower-snow-day ~ .detailed-weather-info,
div.shower-snow-day ~ .detailed-weather-info,
div.heavy-shower-snow-day ~ .detailed-weather-info {
    background-color: #c7e8fdff;
}

.light-snow-night,
.snow-night,
.heavy-snow-night,
.sleet-night,
.light-shower-sleet-night,
.shower-sleet-night,
.light-rain-and-snow-night,
.rain-and-snow-night,
.light-shower-snow-night,
.shower-snow-night,
.heavy-shower-snow-night {
    background-image: url("/weather-forecast/web/icons/weather/snow.svg"),
    linear-gradient(
            180deg,
            rgba(58, 35, 169, 1) 0%,
            rgba(95, 163, 205, 1) 100%
    );
}

div.light-snow-night ~ .detailed-weather-info,
div.snow-night ~ .detailed-weather-info,
div.heavy-snow-night ~ .detailed-weather-info,
div.sleet-night ~ .detailed-weather-info,
div.light-shower-sleet-night ~ .detailed-weather-info,
div.shower-sleet-night ~ .detailed-weather-info,
div.light-rain-and-snow-night ~ .detailed-weather-info,
div.rain-and-snow-night ~ .detailed-weather-info,
div.light-shower-snow-night ~ .detailed-weather-info,
div.shower-snow-night ~ .detailed-weather-info,
div.heavy-shower-snow-night ~ .detailed-weather-info {
    background-color: #5fa3cdff;
}

/* Few Clouds */

.few-clouds-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clouds/few_clouds_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(196, 235, 252, 1) 100%
    );
    background-position: 35% 5%;
}

div.few-clouds-day ~ .detailed-weather-info {
    background-color: #c4ebfcff;
}

.few-clouds-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clouds/few_clouds_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(97, 64, 147, 1) 100%
    );
}

div.few-clouds-night ~ .detailed-weather-info {
    background-color: #614093ff;
}

/* Scattered Clouds */

.scattered-clouds-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clouds/scattered_clouds_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(182, 220, 236, 1) 100%
    );
    background-position: 35% 5%;
}

div.scattered-clouds-day ~ .detailed-weather-info {
    background-color: #b6dcecff;
}

.scattered-clouds-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clouds/scattered_clouds_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(80, 52, 122, 1) 100%
    );
}

div.scattered-clouds-night ~ .detailed-weather-info {
    background-color: #50347aff;
}

/* Broken Clouds */

.broken-clouds-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clouds/broken_clouds_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(169, 204, 219, 1) 100%
    );
    background-position: 35% 0;
}

div.broken-clouds-day ~ .detailed-weather-info {
    background-color: #a9ccdbff;
}

.broken-clouds-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clouds/broken_clouds_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(49, 31, 76, 1) 100%
    );
}

div.broken-clouds-night ~ .detailed-weather-info {
    background-color: #311f4cff;
}

/* Overcast Clouds */

.overcast-clouds-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clouds/overcast_clouds_day.svg"),
    linear-gradient(
            180deg,
            rgba(240, 240, 240, 1) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% -10%;
}

div.overcast-clouds-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.overcast-clouds-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clouds/overcast_clouds_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% -10%;
}

div.overcast-clouds-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Light Rain */

.light-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/light_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(169, 204, 219, 1) 100%
    );
    background-position: 35% 5%;
}

div.light-rain-day ~ .detailed-weather-info {
    background-color: #a9ccdbff;
}

.light-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/light_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(49, 31, 76, 1) 100%
    );
}

div.light-rain-night ~ .detailed-weather-info {
    background-color: #311f4cff;
}

/* Moderate Rain */

.moderate-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/moderate_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(169, 204, 219, 1) 100%
    );
    background-position: 35% 5%;
}

div.moderate-rain-day ~ .detailed-weather-info {
    background-color: #a9ccdbff;
}

.moderate-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/moderate_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(49, 31, 76, 1) 100%
    );
}

div.moderate-rain-night ~ .detailed-weather-info {
    background-color: #311f4cff;
}

/* Heavy Intensity Rain */

.heavy-intensity-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/heavy_intensity_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(169, 204, 219, 1) 100%
    );
    background-position: 35% 5%;
}

div.heavy-intensity-rain-day ~ .detailed-weather-info {
    background-color: #a9ccdbff;
}

.heavy-intensity-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/heavy_intensity_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(49, 31, 76, 1) 100%
    );
}

div.heavy-intensity-rain-night ~ .detailed-weather-info {
    background-color: #311f4cff;
}

/* Very Heavy Rain */

.very-heavy-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/very_heavy_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(169, 204, 219, 1) 100%
    );
    background-position: 35% 5%;
}

div.very-heavy-rain-day ~ .detailed-weather-info {
    background-color: #a9ccdbff;
}

.very-heavy-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/very_heavy_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(49, 31, 76, 1) 100%
    );
}

div.very-heavy-rain-night ~ .detailed-weather-info {
    background-color: #311f4cff;
}

/* Extreme Rain */

.extreme-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/extreme_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(169, 204, 219, 1) 100%
    );
    background-position: 35% 5%;
}

div.extreme-rain-day ~ .detailed-weather-info {
    background-color: #a9ccdbff;
}

.extreme-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/extreme_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 169, 1) 0%,
            rgba(49, 31, 76, 1) 100%
    );
}

div.extreme-rain-night ~ .detailed-weather-info {
    background-color: #311f4cff;
}

/* Light Intensity Shower Rain, Heavy Intensity Drizzle, Light Intensity Drizzle Rain, Drizzle Rain */

.light-intensity-shower-rain-day,
.heavy-intensity-drizzle-day,
.light-intensity-drizzle-rain-day,
.drizzle-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/light_intensity_shower_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% -10%;
}

div.light-intensity-shower-rain-day ~ .detailed-weather-info,
div.heavy-intensity-drizzle-day ~ .detailed-weather-info,
div.light-intensity-drizzle-rain-day ~ .detailed-weather-info,
div.drizzle-rain-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.light-intensity-shower-rain-night,
.heavy-intensity-drizzle-night,
.light-intensity-drizzle-rain-night,
.drizzle-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/light_intensity_shower_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% -10%;
}

div.light-intensity-shower-rain-night ~ .detailed-weather-info,
div.heavy-intensity-drizzle-night ~ .detailed-weather-info,
div.light-intensity-drizzle-rain-night ~ .detailed-weather-info,
div.drizzle-rain-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Shower Rain, Heavy Intensity Drizzle Rain, Shower Rain And Drizzle */

.shower-rain-day,
.heavy-intensity-drizzle-rain-day,
.shower-rain-and-drizzle-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/shower_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% -10%;
}

div.shower-rain-day ~ .detailed-weather-info,
div.heavy-intensity-drizzle-rain-day ~ .detailed-weather-info,
div.shower-rain-and-drizzle-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.shower-rain-night,
.heavy-intensity-drizzle-rain-night,
.shower-rain-and-drizzle-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/shower_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% -10%;
}

div.shower-rain-night ~ .detailed-weather-info,
div.heavy-intensity-drizzle-rain-night ~ .detailed-weather-info,
div.shower-rain-and-drizzle-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Heavy Intensity Shower Rain */

.heavy-intensity-shower-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/heavy_intensity_shower_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% -10%;
}

div.heavy-intensity-shower-rain-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.heavy-intensity-shower-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/heavy_intensity_shower_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% -10%;
}

div.heavy-intensity-shower-rain-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Ragged Shower Rain, Light Intensity Drizzle, Drizzle, Shower Drizzle */

.ragged-shower-rain-day,
.light-intensity-drizzle-day,
.drizzle-day,
.shower-drizzle-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/ragged_shower_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% -10%;
}

div.ragged-shower-rain-day ~ .detailed-weather-info,
div.light-intensity-drizzle-day ~ .detailed-weather-info,
div.drizzle-day ~ .detailed-weather-info,
div.shower-drizzle-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.ragged-shower-rain-night,
.light-intensity-drizzle-night,
.drizzle-night,
.shower-drizzle-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/ragged_shower_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% -10%;
}

div.ragged-shower-rain-night ~ .detailed-weather-info,
div.light-intensity-drizzle-night ~ .detailed-weather-info,
div.drizzle-night ~ .detailed-weather-info,
div.shower-drizzle-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Freezing Rain */

.freezing-rain-day {
    background-image: url("/weather-forecast/web/icons/weather/day/rain/freezing_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% 5%;
}

div.freezing-rain-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.freezing-rain-night {
    background-image: url("/weather-forecast/web/icons/weather/night/rain/freezing_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% 5%;
}

div.freezing-rain-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Thunderstorm With Light Rain, Thunderstorm With Rain,  Thunderstorm With Light Drizzle, Thunderstorm With Drizzle */

.thunderstorm-with-light-rain-day,
.thunderstorm-with-rain-day,
.thunderstorm-with-light-drizzle-day,
.thunderstorm-with-drizzle-day {
    background-image: url("/weather-forecast/web/icons/weather/day/thunderstorm/thunderstorm_with_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% 5%;
}

div.thunderstorm-with-light-rain-day ~ .detailed-weather-info,
div.thunderstorm-with-rain-day ~ .detailed-weather-info,
div.thunderstorm-with-light-drizzle-day ~ .detailed-weather-info,
div.thunderstorm-with-drizzle-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.thunderstorm-with-light-rain-night,
.thunderstorm-with-rain-night,
.thunderstorm-with-light-drizzle-night,
.thunderstorm-with-drizzle-night {
    background-image: url("/weather-forecast/web/icons/weather/night/thunderstorm/thunderstorm_with_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% 5%;
}

div.thunderstorm-with-light-rain-night ~ .detailed-weather-info,
div.thunderstorm-with-rain-night ~ .detailed-weather-info,
div.thunderstorm-with-light-drizzle-night ~ .detailed-weather-info,
div.thunderstorm-with-drizzle-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Light Thunderstorm, Thunderstorm, Heavy Thunderstorm, Ragged Thunderstorm */

.light-thunderstorm-day,
.thunderstorm-day,
.heavy-thunderstorm-day,
.ragged-thunderstorm-day {
    background-image: url("/weather-forecast/web/icons/weather/day/thunderstorm/thunderstorm_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% 5%;
}

div.light-thunderstorm-day ~ .detailed-weather-info,
div.thunderstorm-day ~ .detailed-weather-info,
div.heavy-thunderstorm-day ~ .detailed-weather-info,
div.ragged-thunderstorm-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.light-thunderstorm-night,
.thunderstorm-night,
.heavy-thunderstorm-night,
.ragged-thunderstorm-night {
    background-image: url("/weather-forecast/web/icons/weather/night/thunderstorm/thunderstorm_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% 5%;
}

div.light-thunderstorm-night ~ .detailed-weather-info,
div.thunderstorm-night ~ .detailed-weather-info,
div.heavy-thunderstorm-night ~ .detailed-weather-info,
div.ragged-thunderstorm-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Thunderstorm With Heavy Rain, Thunderstorm With Heavy Drizzle */

.thunderstorm-with-heavy-rain-day,
.thunderstorm-with-heavy-drizzle-day {
    background-image: url("/weather-forecast/web/icons/weather/day/thunderstorm/thunderstorm_with_heavy_rain_day.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% 5%;
}

div.thunderstorm-with-heavy-rain-day ~ .detailed-weather-info,
div.thunderstorm-with-heavy-drizzle-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.thunderstorm-with-heavy-rain-night,
.thunderstorm-with-heavy-drizzle-night {
    background-image: url("/weather-forecast/web/icons/weather/night/thunderstorm/thunderstorm_with_heavy_rain_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% 5%;
}

div.thunderstorm-with-heavy-rain-night ~ .detailed-weather-info,
div.thunderstorm-with-heavy-drizzle-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Mist, Haze, Fog */

.mist-day,
.haze-day,
.fog-day {
    background-image: url("/weather-forecast/web/icons/weather/day/atmosphere/mist_day.svg"),
    linear-gradient(
            180deg,
            rgb(175, 208, 223) 0%,
            rgb(221, 229, 239) 100%
    );
    background-position: 35% 5%;
}

div.mist-day ~ .detailed-weather-info,
div.haze-day ~ .detailed-weather-info,
div.fog-day ~ .detailed-weather-info {
    background-color: #dde5efff;
}

.mist-night,
.haze-night,
.fog-night {
    background-image: url("/weather-forecast/web/icons/weather/night/atmosphere/mist_night.svg"),
    linear-gradient(
            180deg,
            rgb(97, 81, 189) 0%,
            rgb(127, 114, 165) 100%
    );
    background-position: 35% 5%;
}

div.mist-night ~ .detailed-weather-info,
div.haze-night ~ .detailed-weather-info,
div.fog-night ~ .detailed-weather-info {
    background-color: #7f72a5ff;
}

/* Smoke */

.smoke-day {
    background-image: url("/weather-forecast/web/icons/weather/day/atmosphere/smoke_day.svg"),
    linear-gradient(
            180deg,
            rgb(175, 208, 223) 0%,
            rgb(166, 173, 181) 100%
    );
    background-position: 35% 5%;
}

div.smoke-day ~ .detailed-weather-info {
    background-color: #a6adb5ff;
}

.smoke-night {
    background-image: url("/weather-forecast/web/icons/weather/night/atmosphere/smoke_night.svg"),
    linear-gradient(
            180deg,
            rgb(97, 81, 189) 0%,
            rgb(89, 80, 117) 100%
    );
    background-position: 35% 5%;
}

div.smoke-night ~ .detailed-weather-info {
    background-color: #595075ff;
}

/* Sand/Dust Whirls, Sand, Dust */

.sand-dust-whirls-day,
.sand-day,
.dust-day {
    background-image: url("/weather-forecast/web/icons/weather/sand_whirls.svg"),
    linear-gradient(
            180deg,
            rgb(175, 208, 223) 0%,
            rgb(255, 245, 202) 100%
    );
    background-position: 35% 5%;
}

div.sand-dust-whirls-day ~ .detailed-weather-info,
div.sand-day ~ .detailed-weather-info,
div.dust-day ~ .detailed-weather-info {
    background-color: #fff5caff;
}

.sand-dust-whirls-night,
.sand-night,
.dust-night {
    background-image: url("/weather-forecast/web/icons/weather/sand_whirls.svg"),
    linear-gradient(
            180deg,
            rgb(97, 81, 189) 0%,
            rgb(161, 154, 127) 100%
    );
    background-position: 35% 5%;
}

div.sand-dust-whirls-night ~ .detailed-weather-info,
div.sand-night ~ .detailed-weather-info,
div.dust-night ~ .detailed-weather-info {
    background-color: #a19a7fff;
}

/* Squalls */

.squalls-day {
    background-image: url("/weather-forecast/web/icons/weather/squalls.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% 5%;
}

div.squalls-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.squalls-night {
    background-image: url("/weather-forecast/web/icons/weather/squalls.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% 5%;
}

div.squalls-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Tornado */

.tornado-day {
    background-image: url("/weather-forecast/web/icons/weather/tornado.svg"),
    linear-gradient(
            180deg,
            rgba(181, 181, 181, 0.25) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% 5%;
}

div.tornado-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.tornado-night {
    background-image: url("/weather-forecast/web/icons/weather/tornado.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% 5%;
}

div.tornado-night ~ .detailed-weather-info {
    background-color: #221535ff;
}

/* Volcanic Ash */

.volcanic-ash-day {
    background-image: url("/weather-forecast/web/icons/weather/volcanic_ash.svg"),
    linear-gradient(
            180deg,
            rgb(175, 208, 223) 0%,
            rgb(166, 173, 181) 100%
    );
    background-position: 35% 5%;
}

div.volcanic-ash-day ~ .detailed-weather-info {
    background-color: #a6adb5ff;
}

.volcanic-ash-night {
    background-image: url("/weather-forecast/web/icons/weather/volcanic_ash.svg"),
    linear-gradient(
            180deg,
            rgb(97, 81, 189) 0%,
            rgb(89, 80, 117) 100%
    );
    background-position: 35% 5%;
}

div.volcanic-ash-night ~ .detailed-weather-info {
    background-color: #595075ff;
}

/* Unknown */

.unknown-day {
    background-image: url("/weather-forecast/web/icons/weather/day/unknown_day.svg"),
    linear-gradient(
            180deg,
            rgb(84, 165, 255) 0%,
            rgb(176, 209, 248) 100%
    );
    background-position: 35% -5%;
}

div.unknown-day ~ .detailed-weather-info {
    background-color: #b0d1f8ff;
}

.unknown-night {
    background-image: url("/weather-forecast/web/icons/weather/night/unknown_night.svg"),
    linear-gradient(
            180deg,
            rgb(114, 92, 255) 0%,
            rgb(167, 134, 255) 100%
    );
    background-position: 35% -5%;
}

div.unknown-night ~ .detailed-weather-info {
    background-color: #A786FFFF;
}