body {
    margin: 0;
    min-width: 620px;
    font-family: "Inter", "sans-serif";
    font-size: 16px;
}

input {
    padding-left: 22px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background: #EFEFEF;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0 0/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 8px) calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 8px) no-repeat,
    linear-gradient(90deg, #fa6c21 0%, #FFD358 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
}

input::-webkit-search-cancel-button {
    height: 32px;
    width: 32px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/weather-forecast/web/icons/cancel.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

input::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.page-header-container {
    display: flex;
    align-items: center;
    height: 76px;
    background-image: url("/weather-forecast/web/icons/logo.svg"),
    linear-gradient(
            90deg,
            rgba(27, 156, 226, 1) 0%,
            rgba(113, 202, 250, 1) 100%
    );
    background-position: 30px center, 0 0;
    background-size: 76px 76px, auto;
    background-repeat: no-repeat;
}

.navbar {
    margin-left: 140px;
    width: 100%;
}

.navbar-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item a {
    font-weight: bold;
    color: #000000;
}

.navbar-item:first-child {
    margin-right: auto;
}

.navbar-item:last-child {
    margin-right: 30px;
}

.navbar-item:not(:first-child, :last-child) {
    margin-left: 12px;
    margin-right: 12px;
}

.standard-link {
    color: #000000;
}

.current-page,
.standard-link:hover {
    position: relative;
    font-weight: bold;
    background: #fa6c21;
    background: linear-gradient(to right, #fa6c21 0%, #ffd358 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.current-page::after,
.standard-link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: linear-gradient(to right, #fa6c21 0%, #ffd358 100%);
}

.username {
    margin: 0;
    margin-right: 42px;
    font-weight: bold;
    background: #d0f1ff;
    background: linear-gradient(to right, #d0f1ff 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.standard-button {
    width: 135px;
    height: 50px;
    font-family: "Inter", "sans-serif";
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    background: #ffffff;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(167, 221, 255, 1) 100%
    );
    border: 0;
    border-radius: 10px;
}

.big-button {
    width: 146px;
    height: 78px;
}

.standard-button:hover {
    background: #ffde81;
    background: linear-gradient(
            180deg,
            rgba(255, 222, 129, 1) 0%,
            rgba(255, 156, 103, 1) 100%
    );
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

a.standard-button {
    display: inline-block;
    line-height: 50px;
    font-weight: 900;
    text-decoration: none;
}

.search-location-form {
    margin-left: auto;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 108px;
    width: 580px;
    height: 50px;
}

.auth-header {
    margin-top: 50px;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

.auth-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #1C9CE2;
    background: linear-gradient(
            -180deg,
            rgba(28, 156, 226, 1) 0%,
            rgba(113, 202, 250, 1) 100%
    );
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    4px 0 4px 0 rgba(0, 0, 0, 0.25),
    0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    -4px 0 4px 0 rgba(0, 0, 0, 0.25);
}

.auth-form label {
    display: block;
    margin-left: 40px;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: bold;
}

.auth-form input {
    display: block;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.location-name-input {
    width: 100%;
    height: 100%;
}

.sign-up-offer {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.auth-form .standard-button {
    display: block;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
}

.error-block {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    list-style: none;
    background-color: #ff9c9c;
    border-radius: 5px;
}

.error-block li {
    padding-bottom: 15px;
}

.error-block li:last-child {
    padding-bottom: 0;
}

.weather-card {
    width: 366px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    4px 0 4px 0 rgba(0, 0, 0, 0.25),
    0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    -4px 0 4px 0 rgba(0, 0, 0, 0.25);
}

.location-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ffffff;
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(238, 238, 238, 1) 100%
    );
}

.country-flag {
    order: -1;
    margin-left: 10px;
}

.location-name {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    font-weight: 900;
    font-size: 18px;
    word-wrap: break-word;
}

.add-location-button,
.remove-location-button {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 0;
    background: transparent;
    background-size: 32px;
}

.add-location-button {
    background-image: url("/weather-forecast/web/icons/add.svg");
}

.remove-location-button {
    background-image: url("/weather-forecast/web/icons/remove.svg");
}

.add-location-button:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(84%) sepia(38%) saturate(4385%) hue-rotate(105deg) brightness(96%) contrast(89%);
}

.remove-location-button:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(30%) sepia(95%) saturate(7008%) hue-rotate(321deg) brightness(91%) contrast(103%);
}

.location-coordinates {
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

}

.latitude {
    margin-right: 70px;
}

.main-weather-info {
    position: relative;
    height: 172px;
    background-position: 35% 10%;
    background-repeat: no-repeat;
}

.current-temp {
    position: absolute;
    left: 50%;
    top: 35%;
    margin: 0;
    font-size: 48px;
}

.celsius {
    font-size: 16px;
    vertical-align: top;
    margin-left: -12px;
}

.weather-description {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    max-width: 90%;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

[class$="-night"] {
    color: #ffffff;
}

/* --- Main weather info icons and background styles --- */

/* Clear Sky */

.clear-sky-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clear_sky_day.svg"),
    linear-gradient(
            180deg,
            rgba(255, 245, 206, 1) 0%,
            rgba(226, 246, 255, 1) 100%
    );
}

div.clear-sky-day ~ .detailed-weather-info {
    background-color: #e2f5fc;
}

.clear-sky-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clear_sky_night.svg"),
    linear-gradient(
            180deg,
            rgba(56, 33, 168, 1) 0%,
            rgba(127, 80, 196, 1) 100%
    );
}

div.clear-sky-night ~ .detailed-weather-info {
    background-color: #7f50c4;
}

/* Overcast Clouds */

.overcast-clouds-day {
    background-image: url("/weather-forecast/web/icons/weather/day/clouds/overcast_clouds_day.svg"),
    linear-gradient(
            180deg,
            rgba(240, 240, 240, 1) 0%,
            rgba(150, 173, 182, 1) 100%
    );
    background-position: 35% -15%;
}

div.overcast-clouds-day ~ .detailed-weather-info {
    background-color: #96adb6ff;
}

.overcast-clouds-night {
    background-image: url("/weather-forecast/web/icons/weather/night/clouds/overcast_clouds_night.svg"),
    linear-gradient(
            180deg,
            rgba(57, 34, 168, 1) 0%,
            rgba(34, 21, 53, 1) 100%
    );
    background-position: 35% -10%;
}

div.overcast-clouds-night ~ .detailed-weather-info {
    background-color: #221535ff;
}