<header>
    <div class="page-header-container" th:fragment="headerFragment(page)">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="navbar-item">
                    <a th:href="@{/}" th:classappend="${page} == 'home' ? 'current-page' : ''">Home</a>
                </li>
                <li class="navbar-item" th:if="${userSession == null}">
                    <a class="standard-button" th:href="@{/sign-in}">Sign In</a>
                </li>
                <li class="navbar-item" th:if="${userSession == null}">
                    <a class="standard-button" th:href="@{/sign-up}">Sign Up</a>
                </li>
                <li class="navbar-item" th:if="${userSession != null}">
                    <p class="username" th:text="${userSession.username()}"></p>
                </li>
                <li class="navbar-item" th:if="${userSession != null}">
                    <form th:action="@{/logout}" method="post">
                        <button class="standard-button" type="submit">Log Out</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>