<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="weather, weather forecast">
    <meta name="description" content="site for viewing weather in different locations">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <title>Home</title>
</head>
<body>
<header th:insert="~{fragments/header :: headerFragment(userSession=${userSession}, page='home')}"></header>
<main>
    <form th:replace="~{fragments/forms/search-location-form}"></form>

    <div class="weather-cards-container" th:if="${locationsWeather != null}" th:object="${locationsWeather}">

        <div class="weather-card" th:each="locationWeather : ${locationsWeather}"
             th:with="locationInfo=${locationWeather.getLocationDto()}, weatherInfo=${locationWeather.weatherDto},
                      temperatureInfo=${weatherInfo.temperatureDto()}">

            <div th:classappend="'location-info flag-icon-' + ${locationInfo.country().toLowerCase()}">
                <h2 th:text="${locationInfo.name()}"></h2>

                <img class="country-flag" width="32" height="32"
                     th:src="@{'/web/icons/country_flags/' + ${locationInfo.country().toLowerCase()} + '.svg'}"
                     th:alt="${locationInfo.country()}">

                <form th:replace="~{fragments/forms/remove-location-form :: removeLocationFormFragment(locationName=${locationInfo.name()})}">
                </form>
            </div>

            <p class="location-coordinates" th:with="coordinates=${locationInfo.coordinatesDto()}"
               th:text="${coordinates.latitude()} + ' ' + ${coordinates.longitude()}">
            </p>

            <div th:classappend="'main-weather-info ' + ${weatherInfo.getFullDescriptionWithHyphens()}">
                <h3 class="weather-description" th:text="${weatherInfo.description().toUpperCase()}"></h3>

                <p class="current-temp" th:inline="text">
                    [[${temperatureInfo.current()}]]<sup class="celsius">&#8451;</sup>
                </p>
            </div>

            <div class="detailed-weather-info">
                <dl class="temp-info">
                    <dt>min:</dt>
                    <dd th:inline="text">
                        [[${temperatureInfo.min()}]]<sup class="celsius">&#8451;</sup>
                    </dd>

                    <dt>max:</dt>
                    <dd th:inline="text">
                        [[${temperatureInfo.max()}]]<sup class="celsius">&#8451;</sup>
                    </dd>

                    <dt>feels like:</dt>
                    <dd th:inline="text">
                        [[${temperatureInfo.feelsLike()}]]<sup class="celsius">&#8451;</sup>
                    </dd>
                </dl>

                <dl th:class="'wind-info beaufort-points-' + ${windInfo.beaufortPoints()}"
                    th:with="windInfo=${weatherInfo.windDto()}">

                    <dt>speed:</dt>
                    <dd th:text="${windInfo.speed()} > 0.0 ? ${windInfo.speed()} : '-'"></dd>

                    <dt>gust:</dt>
                    <dd th:text="${windInfo.gust()} > 0.0 ? ${windInfo.gust()} : '-'"></dd>

                    <dt>direction:</dt>
                    <dd>
                        <img class="wind-direction" width="12" height="12"
                             th:src="@{'/web/icons/weather/wind/directions/direction_' + ${windInfo.direction().toString().toLowerCase()} + '.svg'}"
                             th:alt="${windInfo.direction().toString()}">
                    </dd>
                </dl>

                <dl class="humidity-info">
                    <dt>humidity:</dt>
                    <dd th:text="${weatherInfo.humidity()} + '%'"></dd>
                </dl>

                <dl class="visibility-info">
                    <dt>visibility:</dt>
                    <dd th:text="${weatherInfo.visibility()} + ' km'"></dd>
                </dl>

                <dl class="sunrise-info">
                    <dt>sunrise:</dt>
                    <dd th:text="${weatherInfo.sunrise()}"></dd>
                </dl>

                <dl class="sunset-info">
                    <dt>sunset:</dt>
                    <dd th:text="${weatherInfo.sunset()}"></dd>
                </dl>
            </div>
        </div>
    </div>
    <ul class="paginator-items" th:if="${pageInfo != null}" th:object="${pageInfo}">

        <li class="paginator-item arrow" th:if="${pageInfo.previousBlockPageNumber() > 0}">
            <a th:href="@{|/?page=${pageInfo.previousBlockPageNumber()}|}"><-</a>
        </li>

        <li th:with="pageNumber=${pageInfo.pageNumbers()[0]}"
            th:classappend="'paginator-item' + ${pageInfo.currentPage() == pageNumber ? ' current-page' : ''}">

            <a th:href="@{|/?page=${pageNumber}|}" th:text="${pageNumber}"></a>
        </li>

        <li th:if="${pageInfo.pageNumbers().length > 1}" th:with="pageNumber=${pageInfo.pageNumbers()[1]}"
            th:classappend="'paginator-item' + ${pageInfo.currentPage() == pageNumber ? ' current-page' : ''}">

            <a th:href="@{|/?page=${pageNumber}|}" th:text="${pageNumber}"></a>
        </li>

        <li th:if="${pageInfo.pageNumbers().length > 2}" th:with="pageNumber=${pageInfo.pageNumbers()[2]}"
            th:classappend="'paginator-item' + ${pageInfo.currentPage() == pageNumber ? ' current-page' : ''}">

            <a th:href="@{|/?page=${pageNumber}|}" th:text="${pageNumber}"></a>
        </li>

        <li th:if="${pageInfo.pageNumbers().length > 3}" th:with="pageNumber=${pageInfo.pageNumbers()[3]}"
            th:classappend="'paginator-item' + ${pageInfo.currentPage() == pageNumber ? ' current-page' : ''}">

            <a th:href="@{|/?page=${pageNumber}|}" th:text="${pageNumber}"></a>
        </li>

        <li th:if="${pageInfo.pageNumbers().length > 4}" th:with="pageNumber=${pageInfo.pageNumbers()[4]}"
            th:classappend="'paginator-item' + ${pageInfo.currentPage() == pageNumber ? ' current-page' : ''}">

            <a th:href="@{|/?page=${pageNumber}|}" th:text="${pageNumber}"></a>
        </li>

        <li class="paginator-item arrow" th:if="${pageInfo.nextBlockPageNumber() > 0}">
            <a th:href="@{|/?page=${pageInfo.nextBlockPageNumber()}|}">-></a>
        </li>
    </ul>
</main>
</body>
</html>