<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="weather, weather forecast">
    <meta name="description" content="Weather forecast in different locations">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:replace="~{fragments/common-links}">
    <title>Home</title>
</head>
<body>
<header th:insert="~{fragments/header :: headerFragment(page='home')}"></header>
<main>
    <form th:replace="~{fragments/forms/search-location-form}"></form>
    <p th:replace="~{fragments/error/single-error-block}"></p>

    <div class="weather-cards-container" th:if="${locationsWeather != null}" th:object="${locationsWeather}">

        <div class="weather-card" th:each="locationWeather : ${locationsWeather}"
             th:with="locationInfo=${locationWeather.getLocationDto()}, weatherInfo=${locationWeather.weatherDto},
                      temperatureInfo=${weatherInfo.temperatureDto()}">

            <div class="location-info">
                <h2 th:text="${locationInfo.name()}"></h2>
                <img th:replace="~{fragments/weather-card/country-flag}" src="" alt="">
                <form th:replace="~{fragments/forms/remove-location-form}"></form>
            </div>

            <p th:replace="~{fragments/weather-card/locations-coordinates}"></p>
            <div th:replace="~{fragments/weather-card/main-weather-info}"></div>
            <div th:replace="~{fragments/weather-card/detailed-weather-info}"></div>
        </div>
    </div>
    <ul class="paginator-items" th:if="${pageInfo != null}" th:object="${pageInfo}">

        <li class="paginator-item arrow" th:if="${pageInfo.previousBlockPageNumber() > 0}">
            <a th:href="@{|/?page=${pageInfo.previousBlockPageNumber()}|}"><-</a>
        </li>

        <li th:each="pageNumber : ${pageInfo.pageNumbers()}"
            th:classappend="'paginator-item' + ${pageInfo.currentPage() == pageNumber ? ' current-page' : ''}">

            <a th:href="@{|/?page=${pageNumber}|}" th:text="${pageNumber}"></a>
        </li>

        <li class="paginator-item arrow" th:if="${pageInfo.nextBlockPageNumber() > 0}">
            <a th:href="@{|/?page=${pageInfo.nextBlockPageNumber()}|}">-></a>
        </li>
    </ul>
</main>
</body>
</html>